@use '../abstracts' as *;

.blogPost {
  max-width: rem(900);
  margin: auto;
  h2,
  h3 {
    color: $brand-green;
  }
  p {
    margin: 2rem 0;
    &.center {
      text-align: center;
    }
  }
  a:not(.btn) {
    // color: $brand-yellow;
    color: $text-color-light;
    &:hover {
      //   color: darken($color: $brand-yellow, $amount: 20%);
      color: $brand-yellow;
    }
  }
  img {
    max-width: rem(350);
    margin-top: 1rem;
    margin-bottom: 1rem;
    &.left {
      float: left;
      margin-right: 2rem;
    }
    &.right {
      float: right;
      margin-left: 2rem;
    }
    &.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
