@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

$brand-green: hsl(134, 36%, 53%);
$brand-yellow: hsl(52, 83%, 44%);
$text-color: hsl(0, 0%, 29%);
$text-color-light: hsl(215, 13%, 57%);
$red: hsl(339, 100%, 45%);
$dark-color: hsl(210, 11%, 15%);
$white-dark: hsl(0, 0%, 93%);
$white: hsl(0, 0%, 100%);

$text-font-stack--OLD: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue',
  'Helvetica', 'Arial', sans-serif;
$text-font-stack: 'Lato', sans-serif;

$max-width: 1180px;
